<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="stylesheets/loginSignUp.css">
    </head>

    <body>
        <%- include('../includes/navbasic.ejs') %>
            <main>
                <div class='loginContainer'>
                    <div class="container-2">
                        <div class='container-form'>
                            <form class="form-signin" method="POST" action="/login" novalidate>
                                <img class="mb-4" src="images/homepage/mainlogo.png" alt="logo" width="270">
                                <h3 class="h3 mb-3 font-weight-normal">Please Login</h3>
                                <label for="email" class="sr-only">Email address</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email address" value="<%= oldInput.email %>" required autofocus>
                                <br>
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Password" value="<%= oldInput.password %>" required autofocus>
                                <% if (errorMessage) { %>
                                    <div class="erroMessage">
                                        <%= errorMessage %>
                                    </div>
                                    <% } %>
                                        <br>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                                        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../includes/foot.ejs') %>