<%- include('../includes/loggedHeadNav.ejs') %>
    <div class="dashboard">
        <div class="accordion">
            <button type="button" class="accordion__button"><h1>Upload Customers</h1></button>
            <div class="accordion__content">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
                <div>
                    <!-- <input id="chartFile" type="file" name="chartFile"/> -->
                    <input id="chartFile" type="file" name="chartFile" accept=".csv"/>
                    <input id= "token" type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                    <button id="chartUpload">Upload</button>
                </div>
                <table class="past-uploads-table">
                    <tr>
                        <th>Purchases</th>
                        <th>File Name</th>
                        <th>Status</th>
                        <th>Date Uploaded</th>
                    </tr>
                    <% uploads.forEach(upload => { %>
                        <tr>
                            <td><%= upload.purchases %></td>
                            <td><%= upload.fileName %></td>
                            <td><%= upload.status %></td>
                            <td><%= upload.dateUploaded %></td>
                        </tr>
                    <% }); %>
                </table>
            </div>
        </div>
        <div class="analytics-container">
            <div class="sent box">
                <div class="text">
                    <h1>Sent &nbsp;&nbsp;<%= analytics.sent %></h1>
                </div>
                <!-- <div class="score">
                    <h2></h2>
                </div> -->
            </div>
            <div class="opened box">
                <div class="text">
                    <h1>Opened &nbsp;<%= analytics.opened %></h1>
                </div>
                <!-- <div class="score">
                    <h2></h2>
                </div> -->
            </div>
            <div class="clicked box">
                <div class="text">
                    <h1>Clicked &nbsp;&nbsp;<%= analytics.clicked %></h1>
                </div>
                <!-- <div class="score">
                    <h2></h2>
                </div> -->
            </div>
        </div>
        <div class="scores-container">
            <div class="detractors box">
                <div class="text">
                    <h1>Negative</h1>
                    <span>Ratings 1-6</span>
                </div>
                <div class="score">
                    <h2><%= scores.negative %></h2>
                </div>
            </div>
            <div class="passives box">
                <div class="text">
                    <h1>Neutral</h1>
                    <span>Ratings 7-8</span>
                </div>
                <div class="score">
                    <h2><%= scores.neutral %></h2>
                </div>
            </div> 
            <div class="promoters box">
                <div class="text">
                    <h1>Positive</h1>
                    <span>Ratings 9-10</span>
                </div>
                <div class="score">
                    <h2><%= scores.positive %></h2>
                </div>
            </div>
            <div class="total-ratings box">
                <div class="text">
                    <h1>Total Ratings</h1>
                </div>
                <div class="score">
                    <h2><%= scores.totalRatings %></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/foot.ejs') %>