<%- include('../includes/loggedHeadNav.ejs') %>
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script> -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="stylesheets/table.css">

</head>
    <div class="dashboard">
        
        <div class="accordion">
            <button type="button" class="accordion__button"><h1>Upload Customers</h1></button>
            <div class="accordion__content">
                <div>
                    <input id="chartFile" type="file" name="chartFile" accept=".csv"/>
                    <input id= "token" type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                    <button id="chart-upload">Upload</button>
                    <p id="success-p" style="display: none;">SUCCESS!!!!!! uWu xD</p>
                    <div id="loader"></div>
                </div>
                
                <table class="past-uploads-table" id="uploads-table">
                    <thead>
                        <tr id="table-row">
                            <th>Purchases</th>
                            <th>File Name</th>
                            <th>Status</th>
                            <th>Date Uploaded</th>
                        </tr>    
                    </thead>
                    <tbody>
                        <% uploads.forEach(upload => { %>
                        <tr>
                            <td><%= upload.purchases %></td>
                            <td><%= upload.fileName %></td>
                            <td><%= upload.status %></td>
                            <td><%= upload.dateUploaded %></td>
                        </tr>
                        <% }); %>
                    </tbody>                  
                </table>
            </div>
        </div>
        <div class="analytics-container">
            <div class="sent box">
                <div class="text">
                    <h1>Sent &nbsp;&nbsp;<%= analytics.sent %></h1>
                </div>
                <!-- <div class="score">
                    <h2></h2>
                </div> -->
            </div>
            <div class="opened box">
                <div class="text">
                    <h1>Opened &nbsp;<%= analytics.opened %></h1>
                </div>
                <!-- <div class="score">
                    <h2></h2>
                </div> -->
            </div>
            <div class="clicked box">
                <div class="text">
                    <h1>Clicked &nbsp;&nbsp;<%= analytics.clicked %></h1>
                </div>
                <!-- <div class="score">
                    <h2></h2>
                </div> -->
            </div>
        </div>
        <div class="scores-container">
            <div class="detractors box">
                <div class="text">
                    <h1>Negative</h1>
                    <span>Ratings 1-6</span>
                </div>
                <div class="score">
                    <h2><%= scores.negative %></h2>
                </div>
            </div>
            <div class="passives box">
                <div class="text">
                    <h1>Neutral</h1>
                    <span>Ratings 7-8</span>
                </div>
                <div class="score">
                    <h2><%= scores.neutral %></h2>
                </div>
            </div> 
            <div class="promoters box">
                <div class="text">
                    <h1>Positive</h1>
                    <span>Ratings 9-10</span>
                </div>
                <div class="score">
                    <h2><%= scores.positive %></h2>
                </div>
            </div>
            <div class="total-ratings box">
                <div class="text">
                    <h1>Total Ratings</h1>
                </div>
                <div class="score">
                    <h2><%= scores.totalRatings %></h2>
                </div>
            </div>
        </div>
    </div>
    
    <script src="scripts/tableScripts.js"></script>
</div>
<%- include('../includes/foot.ejs') %>