<%- include('../includes/loggedHeadNav.ejs') %>
</head>
<div class="metrics-wrapper">
    <div class="analytics-container laptop">
        <div class="sent box">
            <div class="text">
                <h1>Sent &nbsp;&nbsp;<%= analytics.sent %></h1>
            </div>
        </div>
        <div class="opened box">
            <div class="text">
                <h1>Opened &nbsp;<%= Math.floor(analytics.opened / analytics.sent * 100) %>%</h1>
                <span>Total Opened: <%= analytics.opened %></span>
            </div>
        </div>
        <div class="clicked box">
            <div class="text">
                <h1>Clicked &nbsp;&nbsp;<%= Math.floor(analytics.clicked / analytics.sent * 100) %>%</h1>
                <span>Total Clicked: <%= analytics.clicked %></span>
            </div>
        </div>
    </div>
    <div class="analytics-container mobile">
        <div class="sent box">
            <div class="text">
                <h1>Sent &nbsp;&nbsp;<%= analytics.sent %></h1>
            </div>
        </div>
        <div class="analytics-lower-wrapper">
            <div class="opened box">
                <div class="text">
                    <h1>Opened &nbsp;<%= Math.floor(analytics.opened / analytics.sent * 100) %>%</h1>
                    <span>Total Opened: <%= analytics.opened %></span>
                </div>
            </div>
            <div class="clicked box">
                <div class="text">
                    <h1>Clicked &nbsp;&nbsp;<%= Math.floor(analytics.clicked / analytics.sent * 100) %>%</h1>
                    <span>Total Clicked: <%= analytics.clicked %></span>
                </div>
            </div>
        </div>
    </div>
    <div class="scores-container">
        <div class="detractors box">
            <div class="text">
                <h1>Negative</h1>
                <span>Ratings 1-6</span>
            </div>
            <div class="score">
                <h2><%= scores.negative %></h2>
            </div>
        </div>
        <div class="passives box">
            <div class="text">
                <h1>Neutral</h1>
                <span>Ratings 7-8</span>
            </div>
            <div class="score">
                <h2><%= scores.neutral %></h2>
            </div>
        </div> 
        <div class="promoters box">
            <div class="text">
                <h1>Positive</h1>
                <span>Ratings 9-10</span>
            </div>
            <div class="score">
                <h2><%= scores.positive %></h2>
            </div>
        </div>
        <div class="total-ratings box">
            <div class="text">
                <h1>Total Ratings</h1>
            </div>
            <div class="score">
                <h2><%= scores.totalRatings %></h2>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('../includes/foot.ejs') %>