<%- include('../includes/loggedHeadNav.ejs') %>

</head>
    <div class="settings-page">
        <h1>Settings</h1>
        <ul>
            <li>Business Name: <span><%= businessName %></span> </li>
            <li>Email: <span><%= email %></span> </li>
            <li>Phone: <span><%= phone %></span> </li>
            <li>Email Alias: <span><%= businessEmailName %></span></li>
            <li>Review Link: <span><%= reviewLink %></span> </li>
            <li>Website Link: <span><%= websiteLink %></span> </li>
        </ul>
    </div>
</div>
<%- include('../includes/foot.ejs') %>